{
  "marriott": {
    "username": "your_marriott_username",
    "password": "your_marriott_password"
  },
  "hilton": {
    "username": "your_hilton_username", 
    "password": "your_hilton_password"
  },
  "hyatt": {
    "username": "your_hyatt_username",
    "password": "your_hyatt_password"
  },
  "ihg": {
    "username": "your_ihg_username",
    "password": "your_ihg_password"
  }
}